.forecast-container {
  //padding: 20px;
  border-radius: 16px;
}

.forecast-grid {
  display: flex;
  gap: 74px;
  flex-direction: row;
  justify-content: space-evenly;
}

.forecast-item {
  text-align: center;
  padding: 15px 10px;
  border-radius: 12px;
  color: black;

  transition: all 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.today {
    background: rgba(255, 255, 255, 0.2);
  }
}

.day-name {
  font-size: 18px;
  margin-bottom: 8px;
  opacity: 0.9;
}

.weather-icon {
  font-size: 2.5rem;
  margin: 10px 0;
}

.temperature {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
}

.temp-high {
  font-weight: 600;
}

.temp-low {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .forecast-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .forecast-item {
    padding: 10px 5px;
  }

  .weather-icon {
    font-size: 2rem;
  }
}