* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #74b9ff 0%, #0984e3 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  min-height: 100vh;
  overflow-x: hidden;
}

//.weather-background {
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background: url('./img/nature.png') center/cover;
//  z-index: -1;
//
//  &::before {
//    content: '';
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background: rgba(0, 0, 0, 0.3);
//  }
//}

.weather-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background 0.5s ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  &.default {
    background: url('./img/nature.png') center/cover;
  }

  &.clear {
    background: url('./img/clear.jpg') center/cover;
  }

  &.sunny {
    background: url('./img/nature.png') center/cover;
  }

  &.cloudy {
    background: url('./img/cloudy.jpg') center/cover;
  }

  &.rainy {
    background: url('./img/rainy.jpg') center/cover;
  }

  &.snowy {
    background: linear-gradient(135deg, rgba(209,228,239,0.7) 0%, rgba(235,245,251,0.7) 100%),
    url('https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  }

  &.thunderstorm {
    background: linear-gradient(135deg, rgba(45,52,54,0.8) 0%, rgba(99,110,114,0.8) 100%),
    url('https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  }
}



.glass-effect {
  //background: rgba(255, 255, 255, 0.1);
  //backdrop-filter: blur(10px);
  //border: 1px solid rgba(255, 255, 255, 0.2);
  //border-radius: 16px;
}

.btn {
  border: none;
  border-radius: 12px;
  font-size: 23px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  max-width: 192px;
  height: 48px;

  width: 150px;


  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  &.btn-primary {
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }

  &.btn-secondary {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    //border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.weather-icon {
  font-size: 2rem;
  color: #ffd700;
}
