.form{
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.schedule-section {
  grid-area: schedule;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.schedule-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: white;
  margin: 15px;
}

.time-badge {
  background: rgba(3, 63, 125, 0.8);
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  min-width: 60px;
  text-align: center;
}

.event-name {
  font-weight: 400;
}